.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 32rem;
    gap: 0.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.contact-form-element {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contact-form-element > input {
    padding: 0.1rem 0 0 0.5rem;
}
.contact-form-element > textarea {
    padding: 0.1rem 0 0 0.5rem;
}

.contact-form-submit {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgb(75,85,99);
    text-align: center;
}

.contact-form-submit:hover {
    background-color: rgb(156,163,175);
    cursor:pointer;
}