.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.5rem 1rem;
}

.header-list {
    display: flex;
    gap: 1rem;
}